- name: Ensure nginx installed
ansible.builtin.package:
name: "{{ nginx_package_name }}"
state: present
become: true


- name: Deploy nginx configuration (backup enabled)
ansible.builtin.template:
src: nginx.conf.j2
dest: "{{ nginx_conf_path }}"
owner: root
group: root
mode: '0644'
backup: yes
notify:
- Validate nginx config
- Reload nginx
become: true


- name: Ensure nginx enabled and running
ansible.builtin.service:
name: "{{ nginx_package_name }}"
state: started
enabled: true
become: true